body {
    background-color: black;
    background-image: url("assets/batman-fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(54, 29, 11);
}
img {
    height: 400px;
    border: 5px solid gray;
    border-radius: 40px;
}

p {
    color: turquoise;
}

footer p{
    color: rgb(68, 54, 27);  
}

h1 {
    
    font-family: 'Times New Roman', Times, serif;
    color: rgb(76, 141, 238);
    font-size: xx-large;
    padding: 100px;
}