body {
    background-color: black;
    background-image: url("assets/fundo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(218, 203, 193);
   background-position: center;
background-attachment: fixed;
}
img {
    height: 400px;
    border: 5px solid black;
    border-radius: 40px;
}

p {
    color: rgb(218, 203, 193);
}

footer p{
    color: rgb(255, 255, 255); 
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
}

h1 {
    
    font-family: 'Times New Roman', Times, serif;
    color: rgb(68, 54, 27);
    font-size: xx-large;
    padding: 10px;
}

main section h2 {
    text-align: center;
}
a {
    color: rgb(250, 176, 188);
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

